body {
    background-color: rgb(54, 202, 153);
}

#backBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

p {
    font-family: "Work Sans";
    font-size: 23px;
    color: azure;
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.logoTitle {
    position: absolute;
    top: -25px;
    right: 5px;
    font-family: "Work Sans" ;
    font-size: 30px;
    color: azure;
}

.welcome {
    text-align: center;
    font-family: "Work Sans";
    font-size: 23px;
    color: azure;
}

#button {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 175px;
}

.medHistory {
    text-align: center;
}

.newProcedure {
    text-align: center;
}

br {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}